body {
    margin:0;
    padding: 0;
    background-color: #f9f9f9;
}

img {
    max-width: 340px;
    height: auto;
}

p {
    line-height: 1.5;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:link{
	color:#000;
	font-style: italic;
	text-decoration:none;
    border-bottom: 1px solid #bfbfbf;
}

a:visited{
	color:#000;
	font-style: italic;
	text-decoration:none;
}

a:hover{
	color:#000;
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px solid #bfbfbf;
}